#[submodule "vi-navigate"]
#path = packages/vi-navigate
#url = https://github.com/manateelazycat/vi-navigate.git
#
#[submodule "color-rg"]
#path = packages/color-rg
#url = https://github.com/manateelazycat/color-rg.git
#
#[submodule "lazy-load"]
#path = packages/lazy-load
#url = https://github.com/manateelazycat/lazy-load.git
#
#[submodule "transient"]
#path = packages/transient
#url = https://github.com/magit/transient.git
#
#[submodule "symbol-overlay"]
#path = packages/symbol-overlay
#url = https://github.com/wolray/symbol-overlay.git
#
#[submodule "smart-align"]
#path = packages/smart-align
#url = https://github.com/manateelazycat/smart-align.git
#
#[submodule "names"]
#path = packages/names
#url = https://github.com/Malabarba/names.git
#
#[submodule "snails"]
#path = packages/snails
#url = https://github.com/manateelazycat/snails.git
#
#[submodule "fuz"]
#path = packages/fuz
#url = https://github.com/cireu/fuz.el.git
#
#[submodule "benchmark-init"]
#path = packages/benchmark-init
#url = https://github.com/dholm/benchmark-init-el
#
#[submodule "emacs-rime"]
#path = packages/emacs-rime
#url = https://github.com/DogLooksGood/emacs-rime.git
#
#[submodule "dash"]
#path = packages/dash
#url = https://github.com/magnars/dash.el.git
#
#[submodule "popweb"]
#path = packages/popweb
#url = https://github.com/manateelazycat/popweb.git
#
#[submodule "recursive-search-references"]
#path = packages/recursive-search-references
#url = https://github.com/manateelazycat/recursive-search-references
#
#[submodule "f"]
#path = packages/f
#url = https://github.com/rejeep/f.el.git
#
# new ones
[submodule "packages/emacs-application-framework"]
	path = packages/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework
[submodule "packages/smooth-scrolling"]
	path = packages/smooth-scrolling
	url = https://github.com/aspiers/smooth-scrolling.git
[submodule "packages/use-package"]
	path = packages/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "packages/awesome-pair"]
	path = packages/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "packages/awesome-tray"]
	path = packages/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
[submodule "packages/lsp-bridge"]
	path = packages/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "packages/one-key"]
	path = packages/one-key
	url = https://github.com/manateelazycat/one-key
[submodule "packages/auto-save"]
	path = packages/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "packages/grammatical-edit"]
	path = packages/grammatical-edit
	url = https://github.com/manateelazycat/grammatical-edit
[submodule "packages/lazy-load"]
	path = packages/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "packages/highlight-matching-tag"]
	path = packages/highlight-matching-tag
	url = https://github.com/manateelazycat/highlight-matching-tag
[submodule "packages/instant-rename-tag"]
	path = packages/instant-rename-tag
	url = https://github.com/manateelazycat/instant-rename-tag.git
[submodule "packages/fingertip"]
	path = packages/fingertip
	url = https://github.com/manateelazycat/fingertip.git
